.App {
  text-align: center;
}

#img {
  display: flex;
  display: -webkit-flex;
  justify-content: left;
  max-width: 25%;
  height: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 10px;
}

.tooltip .title {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  top: -5px;
  left: 105%;
 
  position: absolute;
  z-index: 1;

  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .title {
  visibility: visible;
  opacity: 1;
}

header {
  display: flex;
  display: -webkit-flex;
  justify-content: right;
}

footer {
  display: flex;
  display: -webkit-flex;
  justify-content: right;
}

#nome {
  font-family: 'Poppins', sans-serif;
}

#p {
  font-family: 'Vollkorn', serif;
}
