
span {
  width: 7rem;
  height: 2.3rem;

  display: flex;
  background: #2766c4;
  border-radius: 4px;

  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 160%;
}