

form {
    display: flex;
    flex-direction: column;
    
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    font-weight: bold;
    text-align: left;
    padding-left: 4em;
}

input {
    margin-bottom: 1.5em;
    padding: 1em;
    border-radius: 5px;
    border: none;
    width: 300px;
}

input::placeholder {
    color: #7b7b7b;
}

#salvar_btn {
    color: #f0f0f0;
    background-color: #603BA2;
    border-radius: 23px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}

#salvar_btn:hover {
    color: #f0f0f0;
    background-color: #4b268c;
    cursor: pointer;
}