nav {
    display: flex;
    justify-content: center;
    background-color: #22252A;
    padding: 2em;
    height: 5vh;
}

a {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 1em;
    color: #F0F0F0;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #947AD3;
}

img {
    padding-right: 300px;
}

#cad_btn {
    justify-content: center;
    background-color: #603BA2;
    border-radius: 23px;
    padding: 3px 10px 5px 10px;
}

#cad_btn:hover {
    color: #f0f0f0;
    background-color: #4b268c;
}